* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color:rgb(17, 22, 19);
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
header {
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-image: url("../html/images/arcane banner2.webp");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position-x: center;   
}
.interna{
    height: 420px;
    background-image: url("../html/images/zaun\ panorama.webp");
}
a:visited{
    color: rgba(95, 80, 62, 0.671);
}
a:hover{
    color: rgba(153, 133, 109, 0.671);
}
nav ul {
    margin-top: 2%;  
    justify-content: center;
}
nav ul li {
    display: inline-block;    
}
nav ul li a {
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;    
	text-transform: uppercase;
    color: rgb(255, 208, 0);    

    background-color: #0e052563;    
    padding: 15px 25px;
    text-decoration: none;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}
nav ul li a:active{
    background-color: #0e05259a;
}
nav ul li a:visited{
    color: rgb(255, 208, 0);
}
.icon{
    display: none;
}
h1{
    display: none;
}
h2{
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgba(141, 113, 81, 0.671);
    background-color: black;
}
h3{
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    color: rgba(141, 113, 81, 0.671);
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 1.5%;
}
h4{
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    color: rgba(141, 113, 81, 0.671);
    text-decoration: underline;
    margin-bottom: 1%;
    margin-top: 1rem;
}
h4.links{
    margin-top: 0.6rem;
    margin-bottom: 2rem;
    text-align: center;  
    text-decoration: none;     
}
a{
    text-decoration: none;
}
article.left{
    text-align: center;
}
article.left img{
    filter: brightness(0.8);
    border-top-right-radius: 3.5%;
    border-bottom-left-radius: 3.5%;
    max-width: 90%;
    border-width: 4px;
    border-style: double;
    border-color:rgba(141, 113, 81, 0.671);
    margin-top: 1rem;
}
#critics{
    border-width: 4px;
    border-style: double;
    border-color:rgba(141, 113, 81, 0.671);
    border-radius: 15px;    
}
p{
    color: blanchedalmond;
    margin-bottom: 2.5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    text-align: left;
}
p.listado{
    margin-bottom: 0.2rem;
}
.left{
    width: 58%;
    float: left;
    padding: 6px;
}
.right{
    width: 40%;
    float: right;
}
.right a{
    color: rgba(141, 113, 81, 0.671);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.95rem;
}
.right div{
    width: 40%;
    align-content: center;
    margin-top: 1.3rem;
    margin-left: auto;
    margin-right: auto;
}
.right a:visited{
    color: rgba(95, 80, 62, 0.671);
}
.right a:hover{
    color: rgba(153, 133, 109, 0.671);
}
h4.links:visited{
    color: rgba(95, 80, 62, 0.671);
}
h4.links:hover{
    color: rgba(153, 133, 109, 0.671);
}
.left p{
    margin-left: 20px;
    margin-right: 20px;
}
#decoration img{
    max-width: 80px;
}
#fichatec{
    display: none;    
}
.noticias h3{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2rem;
    justify-content: center;
    font-size: 1.3rem;
}
.noticias{
    clear:both;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #031b1471;
}
.noticias div{
    width: 33%;
    padding: 2%;
}
.noticias div img{
    width: 100%;
    margin-bottom: 1rem;
    border-width: 4px;
    border-style: double;
    border-color:rgba(141, 113, 81, 0.671);
    border-radius: 3%;
}
.noticias h4{
    margin-top: 0rem;
}
h3.subtitulo{
    font-family: 'Comfortaa', cursive;
    font-size: 1.25rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgba(141, 113, 81, 0.671);
}
/*-----------------------------------------Ficha tecnica----------------------------------------*/
article.ficha{
    text-align: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
a.ficha{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.95rem;
}
.ficha p{
    text-align: center;
}
/*-----------------------------------Personajes Principales-------------------------------------*/
.pjs{
    margin-top: 3rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    align-content: center;   
    align-items: center;
    /*flex-flow: column wrap;                               para la version mobile?*/    
}
.pjs div{
    width: 25%;
    padding: 1%;
}
.pjs img{
    width: 100%;
    margin-bottom: 0.3rem;
    border-width: 4px;
    border-style: double;
    border-color:rgba(141, 113, 81, 0.671);
    border-radius: 3%;
}
/*----------------------------------Personajes Individuales-------------------------------------*/
.pj{
    width: 90%;
    display: block;
    margin-left: auto;    
    margin-right: auto;
    justify-content: center;
}
.pj div{
    margin-left: auto;    
    margin-right: auto;
    text-align: center;
}
.pj img{
    width: 60%;
    margin-left: auto;    
    margin-right: auto;
    border-width: 5px;
    border-style: inset;
    border-color:rgba(141, 113, 81, 0.671);
    border-radius: 5%;
    box-shadow: 0px 0px 3px 2px rgb(82, 70, 1);
}
.pj p{    
    margin-top: 1rem;
}
a.pj{
    text-align: center;
    font-size: 1.2rem;   
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    margin-top: 2rem;
    margin-bottom: 1rem;    
}
/*-----------------------------------------Contacto---------------------------------------------*/
.contact{
    width: 98%;
    height: 500px;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-image: url("../html/images/puente\ entre\ zaun\ y\ piltover.webp");
    background-size: auto;
    background-repeat: no-repeat; 
    background-position-x: center;
    filter: brightness(0.8);
    border-radius: 15px;
    border-width: 3px;
    border-style: double;
    border-color:rgba(141, 113, 81, 0.671);
    padding: 1rem;
}
.contact div{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.contact label{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    max-width: 35%;
    font-family: 'Comfortaa', cursive;
    font-size: 0.9rem;    
	text-transform: uppercase;
    font-weight: bolder;
    color: rgb(0, 51, 26);    
    padding: 12px;    
    background-color: rgba(255,255,255,0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.contact .input{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 60%;
    padding: 1%;
    align-items: center;
    background-color: rgba(255,255,255,0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.contact input{
    display: block;
    text-align: center;
    margin: 0.5rem;
    margin-left: auto;
    margin-right: auto;    
    width: 80%;
    padding: 5px;  
    border-radius: 5px;
    font-family: 'Comfortaa', cursive;
}
.contact textarea{
    width: 80%;
    height: 3rem;     
    border-radius: 5px;
    resize: none;    
    font-family: 'Comfortaa', cursive;
}
.contact .boton{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    text-align: center;
    max-width: 20%;
    padding: 1%;
    align-items: center;
    background-color: rgba(255,255,255,0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.contact button{    
    width: 90%;
    margin: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 51, 26);    
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    padding: 0.4rem 0;
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
}
.contact button:hover{
    color:rgb(26, 112, 71);
    background-color: rgb(168, 168, 168);
}
.contact button:active{
    color:rgb(65, 160, 114);
    background-color: rgb(107, 107, 107);
}
/*----------------------------------------Temporadas--------------------------------------------*/
.seasons{    
    font-family: 'Comfortaa', cursive;
    margin: 2.5rem;
    text-align: center;     
}
.seasons table{
    width: 100%;
    border-style: double;
    border-color: rgba(141, 113, 81, 0.671);
    border-radius: 2%;
    color: black;
    background-color: rgb(71, 43, 0);
    background-color: #031b1471;
    filter: brightness(0.75);
}
.seasons caption{
    color: burlywood;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 2%;
}
.seasons th, td{
    padding: 0.2%;
    border: 1px solid black;
    border-collapse: collapse;
    border-color: black;
    background-color: rgb(235, 235, 235);
}
.seasons th{        
    background-color:rgb(26, 68, 71);
    color: rgb(235, 235, 235);
    text-align: center; 
}
/*----------------------------------------Easter Eggs-------------------------------------------*/
.eggs{
    text-align: center;
    margin: 3rem;
}
.eggs iframe{
    margin: 2%;
    max-width: 90%;
}
.eggs p{
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}
/*----------------------------------------Multimedia--------------------------------------------*/
.media{
    text-align: center;
    margin: 3rem;
}
.media iframe{
    margin: 2%;
    max-width: 90%;
}
.media p{
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.media h4{
    text-decoration: none;
    font-size: 1.2rem;
}
.media .galeria{
    border-width: 4px;
    border-style: double;
    border-color:rgba(141, 113, 81, 0.671);
    border-radius: 15px; 
    background-color: #031b1471;
    padding: 2%;
}
.galeria img{
    border-width: 4px;
    border-style: double;
    border-color:rgba(141, 113, 81, 0.671);
    border-radius: 3%;
}
/*----------------------------------------------------------------------------------------------*/
hr{
    border-width: 4px;
    border-color:rgba(141, 113, 81, 0.671);
}
footer{
    padding-top: 3rem;
    display: block;
    text-align: center;    
    height: 220px;
    background-image: url("../html/images/fumes.jpg");
    background-size: cover;
    background-repeat: no-repeat;  
    background-position-x: center;
}
footer div.outside{    
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
footer div.outside img {
    padding-top: 2rem;
    width: 100%;
    height: auto;
    margin-right: 2.5%;
    max-width: 2.5rem;
}
footer div.legales p{    
    margin-top: 2.5rem;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    font-size: 0.8rem;
}

/*---------MEDIA QUERY del menu hamburguesa a 830px (sino se superponen los li del nav)----------*/
@media screen and (max-width: 830px){
    .icon{
        margin-top: 3%;
        margin-left: 2%;
        margin-right: 400px;
        margin-bottom: 2%;
        float: left;
        display: block;        
        padding: 2.5%;
        background-color: #0e052593;
        border-radius: 75px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;        
    }
    .icon p{
        font-size: 0.85rem;
        text-align: center;
        color:rgb(52, 94, 156);
        font-weight: bolder;
        font-family: 'Comfortaa', cursive; 
    }
    #navegador img{
        max-width: 45px;
        border-radius: 50%;
        margin-bottom: 3%;
        box-shadow:
            0 0 5px #fff,
            -1px 0 8px rgb(0, 110, 255),
            1px 0 8px rgb(0, 153, 255);
    }    
    nav{
        width: 100%;
    }
    ul{
        display: none;
        float: left;
        max-width: 40%;
    }
    nav.responsive ul{
        display: block;
        padding: 10px 20px 10px 0px;
    }
    nav.responsive ul li{
        display: block;
        text-align: left;
        padding: 0.5rem;
        border-radius: 0rem ;
        border-bottom-right-radius: 25px;        
        background-color: #0e0525;
        margin-bottom: 3%;
        float: left;
    }
    nav.responsive ul li a{
        font-size: 1rem;
    }
    nav.responsive p{        
        color: rgb(0, 18, 44);
    }
    nav.responsive .icon{
        background-color: #0e0525e0;
        box-shadow:            
            inset 0 0 5px #fff,
            inset 2px 0 8px rgb(0, 110, 255),
            inset -2px 0 8px #0ff,
            inset 2px 0 30px rgb(0, 110, 255),
            inset -2px 0 30px #0ff,
            0 0 5px #fff,
            -1px 0 8px rgb(0, 110, 255),
            1px 0 8px rgb(0, 153, 255);
    }    
    nav.responsive ul li:active{
        background-color: #2d195ee0;
    }
    nav.responsive ul li a:active{
        background-color: #2d195ee0;
    }
    header{
        height: 530px;
    }
    #decoration{
        display: none;
    }
    #fichatec{
        display: block;
        width: 58%;        
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    #fichatec img{
        margin-top: 2rem;
        margin-bottom: 1%;
        max-width: 80px;
    }
    #fichatec h4{
        display: none;
    }
    #fichatec .ficha{
        width: 100%;
    }
    #fichatec #volta{
        display: block;        
    }
    .pjs{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }    
    .pjs div{
        width: 50%;
    }
    .pj img{
        width: 65%;
    }
    .pj p{
        font-size: 0.80rem;
    }
    a.pj{
        font-size: 1rem;
    }
    .contact label{
        max-width: 50%;
    }
    .contact .input{
        max-width: 75%;
    }
    .contact .boton{
        max-width: 28%;
    }
    .seasons .sino{
        display: none;
    }
    .eggs iframe{
        width: 480px;
        height: 270px;
    }
    .media iframe{
        width: 480px;
        height: 270px;
    }
}

/*-----------------MEDIA QUERY para acomodar todo a tamaño celular-----------------*/
@media screen and (max-width: 576px){    
    header{
        height: 420px;
    }
    aside{
        display: none;
    }
    .left{
        width: 100%;
    }
    #fichatec{
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    #fichatec h4{
        display: block;
        text-align: center;
        margin-left: 0%;
        margin-bottom: 3rem;
    }
    .noticias{
        display: block;      
    }
    .noticias h3{
        padding: 4%;
    }
    .noticias div{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .noticias div:active{
        background-color: #226d5871;
        border-radius: 10px;
    }
    .noticias h4{
        padding: 0rem;        
        font-size: 1.2rem;
    }
    footer{
        padding-top: 1rem;
    }
    footer div.outside{
        width: 90%;
    }
    footer div.outside img{        
        margin: 6% 3% 1.2% 3%;
        max-width: 2.5rem;
        padding: 1.25%;
        border-radius: 50px;
    }
    footer div.outside img:active{
        background-color: rgba(55, 94, 87, 0.719);
    }
    footer div.legales p{
        font-size: 0.75rem;
    }    
    .pjs h4{
        font-size: 0.85rem;
    }
    .pj img{
        width: 70%;
    }
    .pj p{
        font-size: 0.78rem;
    }
    a.pj{
        font-size: 0.9rem;
    }
    .eggs iframe{
        width: 370px;
        height: 208px;
    }
    .media iframe{
        width: 370px;
        height: 208px;
    }
}   