* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(17, 22, 19);
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-image: url("../html/images/arcane banner2.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position-x: center;   
}

a:visited{
    color: rgba(95, 80, 62, 0.671);
}
a:hover{
    color: rgba(153, 133, 109, 0.671);
}

nav ul {
    margin-top: 2%;  
    justify-content: center;
}

nav ul li {
    display: inline-block;    
}

nav ul li a {
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;    
	text-transform: uppercase;
    color: rgb(255, 208, 0);    

    background-color: #0e052563;    
    padding: 15px 25px;
    text-decoration: none;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}
nav ul li a:active{
    background-color: #0e05259a;
}

nav ul li a:visited{
    color: rgb(255, 208, 0);
}

.icon{
    display: none;
}

h1{
    display: none;
}

h2{
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgba(141, 113, 81, 0.671);
    background-color: black;
}

h3{
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    color: rgba(141, 113, 81, 0.671);
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 1.5%;
}

h4{
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    color: rgba(141, 113, 81, 0.671);
    text-decoration: underline;
    margin-bottom: 1%;
    margin-top: 1rem;
}

h4.links{
    margin-top: 0.6rem;
    margin-bottom: 2rem;
    text-align: center;  
    text-decoration: none;     
}

a{
    text-decoration: none;
}

article.left{
    text-align: center;
}

article.left img{
    filter: brightness(0.8);
    border-top-right-radius: 3.5%;
    border-bottom-left-radius: 3.5%;
    max-width: 90%;
    border-width: 4px;
    border-style: double;
    border-color:rgba(141, 113, 81, 0.671);
    margin-top: 1rem;
}

#critics{
    border-width: 4px;
    border-style: double;
    border-color:rgba(141, 113, 81, 0.671);
    border-radius: 15px;    
}

p{
    color: blanchedalmond;
    margin-bottom: 2.5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
}

p.listado{
    margin-bottom: 0.2rem;
}

.left{
    width: 58%;
    float: left;
    padding: 6px;
}
.right{
    width: 40%;
    float: right;
}

.right a{
    color: rgba(141, 113, 81, 0.671);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.95rem;
}

.right div{
    width: 40%;
    align-content: center;
    margin-top: 1.3rem;
    margin-left: auto;
    margin-right: auto;
}

.right a:visited{
    color: rgba(95, 80, 62, 0.671);
}
.right a:hover{
    color: rgba(153, 133, 109, 0.671);
}

h4.links:visited{
    color: rgba(95, 80, 62, 0.671);
}
h4.links:hover{
    color: rgba(153, 133, 109, 0.671);
}

.left p{
    margin-left: 20px;
    margin-right: 20px;
}

#decoration img{
    max-width: 80px;
}

#fichatec{
    display: none;    
}

.noticias h3{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2rem;
    justify-content: center;
    font-size: 1.3rem;
}
.noticias{
    clear:both;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #031b1471;
}
.noticias div{
    width: 33%;
    padding: 2%;
}
.noticias div img{
    width: 100%;
    margin-bottom: 1rem;
    border-width: 4px;
    border-style: double;
    border-color:rgba(141, 113, 81, 0.671);
    border-radius: 3%;
}
.noticias h4{
    margin-top: 0rem;
}

hr{
    border-width: 4px;
    border-color:rgba(141, 113, 81, 0.671);    
}

footer{
    padding-top: 3rem;
    display: block;
    text-align: center;    
    height: 220px;
    background-image: url("../html/images/fumes.jpg");
    background-size: cover;
    background-repeat: no-repeat;  
    background-position-x: center;
}

footer div.outside{    
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

footer div.outside img {
    padding-top: 2rem;
    width: 100%;
    height: auto;
    margin-right: 2.5%;
    max-width: 2.5rem;
}
footer div.legales p{    
    margin-top: 2.5rem;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    font-size: 0.8rem;
}

/*MEDIA QUERY del menu hamburguesa a 830px (sino se superponen los li del nav)*/
@media screen and (max-width: 830px){
    .icon{
        margin-top: 3%;
        margin-left: 2%;
        margin-right: 400px;
        margin-bottom: 2%;
        float: left;
        display: block;        
        padding: 2.5%;
        background-color: #0e052593;
        border-radius: 75px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .icon p{
        font-size: 0.85rem;
        text-align: center;
        color:rgb(52, 94, 156);
        font-weight: bolder;
        font-family: 'Comfortaa', cursive; 
    }
    #navegador img{
        max-width: 45px;
    }    
    nav{
        width: 100%;
    }
    ul{
        display: none;
        float: left;
        max-width: 40%;
    }
    nav.responsive ul{
        display: block;
        padding: 10px 20px 10px 0px;
    }
    nav.responsive ul li{
        display: block;
        text-align: left;
        padding: 0.5rem;
        border-radius: 0rem ;
        border-bottom-right-radius: 25px;        
        background-color: #0e0525;
        margin-bottom: 3%;
        float: left;
    }
    nav.responsive ul li a{
        font-size: 1rem;
    }
    nav.responsive p{        
        color: rgb(0, 52, 129);
        background-color: #0e0525e0;
    }
    nav.responsive .icon{
        background-color: #0e0525e0;
    }    
    nav.responsive ul li:active{
        background-color: #2d195ee0;
    }
    nav.responsive ul li a:active{
        background-color: #2d195ee0;
    }
    header{
        height: 530px;                              /*mmm*/
    }
    #decoration{
        display: none;
    }
    #fichatec{
        display: block;
        width: 58%;        
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    #fichatec img{
        margin-top: 2rem;
        margin-bottom: 1%;
        max-width: 80px;
    }
    #fichatec h4{
        display: none;
    }
}

@media screen and (max-width: 576px){    
    header{
        height: 440px;                              /*mmm*/
    }
    aside{
        display: none;
    }
    .left{
        width: 100%;
    }
    #fichatec{
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    #fichatec h4{
        display: block;
        text-align: center;
        margin-left: 0%;
        margin-bottom: 3rem;
    }
    .noticias{
        display: block;      
    }
    .noticias h3{
        padding: 4%;
    }
    .noticias div{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .noticias div:active{
        background-color: #226d5871;
        border-radius: 10px;
    }
    .noticias h4{
        padding: 0rem;        
        font-size: 1.2rem;
    }
    footer{
        padding-top: 1rem;
    }
    footer div.outside{
        width: 90%;
    }
    footer div.outside img{        
        margin: 6% 4% 1.3% 4%;
        max-width: 2.5rem;
        padding: 1.3%;
        border-radius: 50px;
    }
    footer div.outside img:active{
        background-color: rgba(55, 94, 87, 0.719);
    }
    footer div.legales p{
        font-size: 0.75rem;
    }    
}   